h1,h2,h3,h4,h5,h6,p{
  font-family: "casper-icons", "Open Sans", sans-serif;
}

$phenix: #F67938;
$elixir: #47126a;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

//posts
#posts{
  margin-top: 3%;
  .phenix{
    blockquote{
      border-left: 5px solid $phenix;
    }
    h4:hover{
      color: $phenix;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
  }
  .elixir{
    blockquote{
      border-left: 5px solid $elixir;
    }
    h4:hover{
      color: $elixir;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
  }
  .divider{
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .button-post{
    padding-top: 8%;
    a{
      color: #d5dbde;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
    a:hover{
      color: #7D8B91;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
    p{
      margin-top: 5px;
      color: #d5dbde;
    }
    .phenix{
      float: left;
    }
    .elixir{
      float: right;
    }
  }
}
@media(max-width: 600px){
  #posts{  
    .button-post{
      .phenix{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 10px;
      }
      .elixir{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}
.post{
  h4{
    color: #4A4A4A;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  p{
    color: #3A4145;
  }
  span{
    color: #d5dbde;
    text-transform: uppercase;
  }
}

// footer
.page-footer{
  background-color: #F67938 !important;
  margin-top: 10% !important;
  .content{
    .social-group{
      line-height: 100px;
      .social{
        background-color: #225B9D;
        color: white;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: none;
      }
      .linkedin{
        background-color: #3C30CE;
      }
      .google{
        background-color: #3A4B9D;
      }
    }
    h5{
      letter-spacing: 1px;
      color: white;
    }
    p{
      color: white;
    }
    li{
      a{
        color: white !important;
      }
    }
  }
  .footer-copyright{
    line-height: 20px !important;
    p{
      color: white;
    }
  }
}

