h1, h2, h3, h4, h5, h6, p {
  font-family: "casper-icons", "Open Sans", sans-serif; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

header {
  background-color: #F67938;
  width: 100%;
  height: 400px; }
  header nav {
    background-color: transparent;
    box-shadow: none; }
    header nav li a {
      font-size: 18px;
      letter-spacing: 1px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
    header nav li:hover {
      background-color: transparent; }
      header nav li:hover a {
        font-size: 20px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s; }

#posts {
  margin-top: 3%; }
  #posts .phenix blockquote {
    border-left: 5px solid #F67938; }
  #posts .phenix h4:hover {
    color: #F67938;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s; }
  #posts .elixir blockquote {
    border-left: 5px solid #47126a; }
  #posts .elixir h4:hover {
    color: #47126a;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s; }
  #posts .divider {
    margin-top: 25px;
    margin-bottom: 5px; }
  #posts .button-post {
    padding-top: 8%; }
    #posts .button-post a {
      color: #d5dbde;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
    #posts .button-post a:hover {
      color: #7D8B91;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
    #posts .button-post p {
      margin-top: 5px;
      color: #d5dbde; }
    #posts .button-post .phenix {
      float: left; }
    #posts .button-post .elixir {
      float: right; }

@media (max-width: 600px) {
  #posts .button-post .phenix {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px; }
  #posts .button-post .elixir {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block; } }
.post h4 {
  color: #4A4A4A;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
.post p {
  color: #3A4145; }
.post span {
  color: #d5dbde;
  text-transform: uppercase; }

.page-footer {
  background-image: radial-gradient(circle at 50% 50%, #F67938 29%, #EF4734 120%) !important;
  margin-top: 10% !important; }
  .page-footer .content .social-group .social {
    color: white;
    padding-top: 10px;
    display: block; }
  .page-footer .content .social-group p {
    text-align: left; }
  .page-footer .content h5 {
    letter-spacing: 1px;
    color: white; }
  .page-footer .content p {
    color: white; }
  .page-footer .content li a {
    color: white !important; }
  .page-footer .footer-copyright {
    line-height: 20px !important; }
    .page-footer .footer-copyright p {
      color: white; }

/*# sourceMappingURL=style.css.map */
