h1,h2,h3,h4,h5,h6,p{
  font-family: "casper-icons", "Open Sans", sans-serif;
}

$phenix: #F67938;
$elixir: #47126a;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
//navbar
nav{
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  li{
    a{
      font-size: 18px; 
      letter-spacing: 1px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
  }
  li:hover{
    background-color: transparent !important;
    a{
      font-size: 20px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
  }
}

//header
header{
  /* background-color: $phenix;
  width: 100%;
  height: 400px; */
  img{
    width: 100%;
  }
}
//posts
#posts{
  margin-top: 3%;
  .phenix{
    blockquote{
      border-left: 5px solid $phenix;
    }
    h4:hover{
      color: $phenix;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
  }
  .elixir{
    blockquote{
      border-left: 5px solid $elixir;
    }
    h4:hover{
      color: $elixir;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
  }
  .divider{
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .button-post{
    padding-top: 8%;
    a{
      color: #d5dbde;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
    a:hover{
      color: #7D8B91;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
    p{
      margin-top: 5px;
      color: #d5dbde;
    }
    .phenix{
      float: left;
    }
    .elixir{
      float: right;
    }
  }
}
@media(max-width: 600px){
  #posts{  
    .button-post{
      .phenix{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 10px;
      }
      .elixir{
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}
.post{
  h4{
    color: #4A4A4A;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  p{
    color: #3A4145;
  }
  span{
    color: #d5dbde;
    text-transform: uppercase;
  }
}

// footer
.page-footer{
  background-image: radial-gradient( circle at 50% 50%, #F67938 29%, #EF4734 120%) !important;
  margin-top: 10% !important;
  .content{
    .social-group{
      .social{
        color: white;
        padding-top: 10px;
        display: block;
      }
      p{
        text-align: left;
      }
    }
    h5{
      letter-spacing: 1px;
      color: white;
    }
    p{
      color: white;
    }
    li{
      a{
        color: white !important;
      }
    }
  }
  .footer-copyright{
    line-height: 20px !important;
    p{
      color: white;
    }
  }
}

